<html>
  <head>
    <meta charset='UTF-8' />

    <style>
      h1, p, a {font-family: sans-serif;} 
    </style>
  </head>
  <body>
    <h1>{{t 'course.eligible.subject'}}</h1>
    <p>{{t 'common.greetings'}}
      {{name}}
    </p>
    <p>{{t 'course.eligible.body' course=course}}</p>
    <a href={{url}}>{{t 'course.link'}}</a>
     <p>{{t 'common.bye'}}</p>
         <p>FlawIS team</p>

    </br>
    <p>{{t 'common.no-reply'}}</p>
  </body>
</html>