doctype html
html(lang=locale)
    head
        title= t('accountActivation')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap", type='text/css')  
        link(rel="stylesheet", href=filesUrl + "/public/UKsans/styles.css", type='text/css') 
        style
            include ../styles.css
    body
        div.container
            div.heading 
                img(src=filesUrl + "/public/images/Flaw-logo-notext.png", alt="Logo")
                h1= t('accountActivation')
            p= `${t('greetings')} ${name},`
            p= t('regSuccess')
            div.button-wrapper
                a(class='button' href=clientUrl + "/activate/" + token) #{t("activationLink")}
            p= t('bye')
            p= t('signature')
    

