<html>
  <head>
    <link
      rel='stylesheet'
      href='https://flawis-backend.flaw.uniba.sk/public/UKsans/styles.css'
    />
  </head>
  <body>
    <h1>{{t 'activation.subject'}}</h1>
    <p>{{t 'common.greetings'}}
      {{name}}
    </p>
    <p>{{t 'activation.body'}}</p>
    <a href={{url}}>{{t 'activation.link'}}</a>
  </body>
</html>