<html>
  <head>
    <meta charset='UTF-8' />
    {{! <link
      rel='stylesheet'
      href='https://flawis-backend.flaw.uniba.sk/public/UKsans/styles.css'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto&display=swap'
      rel='stylesheet'
    /> }}
    <link href='https://fonts.cdnfonts.com/css/corbel' rel='stylesheet' />

    <style>
      h1 {font-family: UKsans, Roboto, corbel,sans-serif;} p, a{font-family:
      Roboto,corbel, sans-serif;} .hashtag-list { list-style: none; padding: 0;
      margin: 0; } .hashtag-item { display: inline-block; margin-right: 5px;
      padding: 2px 8px; } .hashtag-item:before { content: "#";} td
      {padding-right: 2rem;}
    </style>
  </head>
  <body>
    <h1>{{t 'author.subject'}} {{conferenceName}}</h1>
    <p>{{name}} {{t 'author.requestedBy'}}</p>
    <p>{{t 'author.body'}}</p>
    <table>
      <tr>
        <td>{{t 'author.submission.name'}}</td>
        <td>{{submissionName}}</td>
      </tr>
      <tr>
        <td>{{t 'author.submission.abstract'}}</td>
        <td>{{submissionAbstract}}</td>
      </tr>
      <tr>
        <td>{{t 'author.submission.keywords'}}</td>
        <td>
          <ul class='hashtag-list'>
            {{#each submissionKeywords}}
              <li class='hashtag-item'>{{this}}</li>
            {{/each}}
          </ul>
        </td>
      </tr>
    </table>
    <a href={{url}}>{{t 'author.link'}}</a>
  </body>
</html>