<html>
  <head>
    <meta charset='UTF-8' />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto&display=swap'
      rel='stylesheet'
    />

    <style>
      h1, p, a {font-family: Roboto, sans-serif;} 
    </style>
  </head>
  <body>
    <h1>{{conferenceName}}</h1>
    <p>{{t 'common.greetings'}}
      {{name}}
    </p>
    </br>
    <p>{{t 'conference.conferenceRegistrationText'}}</p>
    </br>
    <p>{{t 'common.bye'}}</p>
    <p>{{conferenceName}} team</p>
    </br>
    <p>{{t 'common.no-reply'}}</p>
  </body>
</html>