<html>
  <head>
    <meta charset='UTF-8' />
    <link
      rel='stylesheet'
      href='https://flawis-backend.flaw.uniba.sk/public/UKsans/styles.css'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto&display=swap'
      rel='stylesheet'
    />

    <style>
      h1 {font-family: UKsans, Roboto, sans-serif;} p, a{font-family: Roboto,
      sans-serif;}
    </style>
  </head>
  <body>
    <h1>{{t 'grantAnnouncement.subject'}}</h1>
    <p>{{t 'common.greetings'}}
      {{name}}
    </p>
    <p>{{t 'grantAnnouncement.body'}}
      {{announcement}}
    </p>
    <p>{{t 'grantAnnouncement.links'}}</p>
    <ul>
      {{#each urls}}
        <li>
          <a href={{url}}>{{text}}</a>
        </li>
      {{/each}}
    </ul>
  </body>
</html>