<html>
  <head>
    <meta charset='UTF-8' />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto&display=swap'
      rel='stylesheet'
    />

    <style>
      h1 {font-family: UKsans, Roboto, sans-serif;} p, a{font-family: Roboto,
      sans-serif;}
    </style>
  </head>
  <body>
    <h1>{{t 'internRejected.subject'}}</h1>
    <p>{{t 'common.greetings'}}
      {{name}}
    </p>
    <p>{{t 'intern.rejected.body'}}</p>
    <a href={{url}}>{{t 'intern.rejected.link'}}</a>
  </body>
</html>