<html>
  <head>
    <meta charset='UTF-8' />

    <style>
      body{ font-family: sans-serif; } .container { max-width: 900px;
      margin-left: auto; margin-right: auto; display: flex; flex-direction:
      column; gap: 2rem; } .header { background-color: #B46B7A; text-align:
      right; padding: 10px; } .row { display: flex; flex-direction: row;
      justify-content: space-between; gap: 1rem; } .items { margin padding:
      1rem; border-collapse: collapse; width: 100%; } .items td, .items th {
      border: 1px solid #dddddd; text-align: left; padding: 8px; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='row header'>
        <img src='{{{conferenceLogo}}}' alt='flaw logo' height='100' />
        <h1>{{t 'conference.subject'}} {{invoice.issuer.variableSymbol}}</h1>
      </div>
      <div class='row'>
        <table style='width: 50%; border: none; padding: 0'>
          <tr>
            <td>{{t 'conference.invoice.issuer'}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.name'}}</td>
            <td>{{invoice.issuer.name}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.address.street'}}</td>
            <td>{{invoice.issuer.address.street}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.address.city'}}</td>
            <td>{{invoice.issuer.address.city}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.address.postal'}}</td>
            <td>{{invoice.issuer.address.postal}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.address.country'}}</td>
            <td>{{invoice.issuer.address.country}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.ICO'}}</td>
            <td>{{invoice.issuer.ICO}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.DIC'}}</td>
            <td>{{invoice.issuer.DIC}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.ICDPH'}}</td>
            <td>{{invoice.issuer.ICDPH}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.variableSymbol'}}</td>
            <td>{{invoice.issuer.variableSymbol}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.IBAN'}}</td>
            <td>{{invoice.issuer.IBAN}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.SWIFT'}}</td>
            <td>{{invoice.issuer.SWIFT}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.issueDate'}}</td>
            <td>{{DATE invoice.body.issueDate i18nLang}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.vatDate'}}</td>
            <td>{{DATE invoice.body.issueDate i18nLang}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.dueDate'}}</td>
            <td>{{DATE invoice.body.issueDate i18nLang}}</td>
          </tr>
        </table>
        <table style='width: 50%; border: none; padding: 0'>
          <tr>
            <td>{{t 'conference.invoice.payer'}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.name'}}</td>
            <td>{{invoice.payer.name}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.address.street'}}</td>
            <td>{{invoice.payer.address.street}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.address.city'}}</td>
            <td>{{invoice.payer.address.city}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.address.postal'}}</td>
            <td>{{invoice.payer.address.postal}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.address.country'}}</td>
            <td>{{invoice.payer.address.country}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.ICO'}}</td>
            <td>{{invoice.payer.ICO}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.DIC'}}</td>
            <td>{{invoice.payer.DIC}}</td>
          </tr>
          <tr>
            <td>{{t 'conference.invoice.ICDPH'}}</td>
            <td>{{invoice.payer.ICDPH}}</td>
          </tr>
        </table>
      </div>
      <div class='row'>
        <table class='items'>
          <tr>
            <th>{{t 'conference.item'}}</th><th>{{t 'conference.price'}}</th>
          </tr>
          <tr>
            <td>{{t 'conference.fee'}}</td><td>{{invoice.body.price}} €</td>
          </tr>
          <tr>
            <td>{{t 'conference.vat'}}</td><td>{{invoice.body.vat}} €</td>
          </tr>
          <tr>
            <td>{{t 'conference.sum'}}</td>
            <td>
              {{SUM invoice.body.price invoice.body.vat}}
              €
            </td>
          </tr>
        </table>
      </div>
      <div style='text-align: center;'>
        <p>{{invoice.body.body}}</p>
        <p>{{invoice.body.comment}}</p>
      </div>
      <img
        style='align-self: center;'
        src='http://client:3000/images/peciatka.jpeg'
        alt='flaw stamp'
        width='300'
        height='100'
      />
    </div>
  </body>
</html>