<html>
  <head>
    <meta charset='UTF-8' />
    <link
      rel='stylesheet'
      href='https://flawis-backend.flaw.uniba.sk/public/UKsans/styles.css'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto&display=swap'
      rel='stylesheet'
    />
    <link href='https://fonts.cdnfonts.com/css/corbel' rel='stylesheet' />

    <style>
        body{
            font-family: "UKsans", "Roboto", "corbel", sans-serif ;
        }
            .container {
                max-width: 900px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;                
                gap: 2rem;
            }
            .header {
                background-color: #B46B7A;
                padding: 1rem;
            }
            .row {
                padding: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            table {
                padding: 1rem;
                border-collapse: collapse;
                width: 100%;
            }
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            p {margin: 0;}
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <img src="{{{conferenceLogo}}}" alt="flaw logo" width="100" height="100"> 
                <h1>{{t 'conference.subject'}} {{invoice.issue}}</h1>
            </div>
            <div class="row">
                <div style="display: flex; flex-direction: column; gap: 0;">
                    <p>{{t 'conference.invoice.name'}} {{invoice.issuer.name}}</p>
                    <p>{{t 'conference.invoice.address.street'}} {{invoice.issuer.address.street}}</p>
                    <p>{{t 'conference.invoice.address.city'}} {{invoice.issuer.address.city}}</p>
                    <p>{{t 'conference.invoice.address.postal'}} {{invoice.issuer.address.postal}}</p>
                    <p>{{t 'conference.invoice.address.country'}} {{invoice.issuer.address.country}}</p>
                    <p>{{t 'conference.invoice.ICO'}} {{invoice.issuer.ICO}}</p>
                    <p>{{t 'conference.invoice.DIC'}} {{invoice.issuer.DIC}}</p>
                    <p>{{t 'conference.invoice.ICDPH'}} {{invoice.issuer.ICDPH}}</p>
                    <p>{{t 'conference.invoice.variableSymbol'}} {{invoice.issuer.variableSymbol}}</p>
                    <p>{{t 'conference.invoice.IBAN'}} {{invoice.issuer.IBAN}}</p>
                    <p>{{t 'conference.invoice.SWIFT'}} {{invoice.issuer.SWIFT}}</p>
                    <p>{{t 'conference.invoice.issueDate'}} {{invoice.body.issueDate}}</p>
                    <p>{{t 'conference.invoice.vatDate'}} {{invoice.body.issueDate}}</p>
                    <p>{{t 'conference.invoice.dueDate'}} {{invoice.body.issueDate}}</p>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <p>{{t 'conference.invoice.name'}} {{invoice.payer.name}}</p>
                    <p>{{t 'conference.invoice.address.street'}} {{invoice.payer.address.street}}</p>
                    <p>{{t 'conference.invoice.address.city'}} {{invoice.payer.address.city}}</p>
                    <p>{{t 'conference.invoice.address.postal'}} {{invoice.payer.address.postal}}</p>
                    <p>{{t 'conference.invoice.address.country'}} {{invoice.payer.address.country}}</p>
                    <p>{{t 'conference.invoice.ICO'}} {{invoice.payer.ICO}}</p>
                    <p>{{t 'conference.invoice.DIC'}} {{invoice.payer.DIC}}</p>
                    <p>{{t 'conference.invoice.ICDPH'}} {{invoice.payer.ICDPH}}</p>
                </div>
            </div>
            <div class="row">
                <table>
                    <tr>
                        <th>{{t 'conference.item'}}</th><th>{{t 'conference.price'}}</th>
                    </tr>
                    <tr>
                        <td>{{t 'conference.fee'}}</td><td>{{invoice.body.price}}</td>
                    </tr>
                    <tr>
                        <td>{{t 'conference.vat'}}</td><td>{{invoice.body.vat}}</td>
                    </tr>
                    <tr>
                        <td>{{t 'conference.sum'}}</td><td>{{invoice.body.price + invoice.body.vat}}</td>
                    </tr>
                </table>
            </div>
            <div style="text-align: center;">
                <p>{{invoice.body.body}}</p>
                <p>{{invoice.body.comment}}</p>
            </div>
            <img style="align-self: center;" src="{{{invoice.issuer.stampUrl}}}" alt="flaw stamp" width="300" height="100"> 
        </div>
    </body>
</html>