<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta charset='UTF-8' />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto&display=swap'
      rel='stylesheet'
    />

    <style>
      h1, p, a {font-family: UKsans, Roboto, sans-serif;}
    </style>
  </head>
  <body>
    <h1>{{t 'passwordReset.subject'}}</h1>
    <p>{{t 'common.greetings'}}
      {{name}}
    </p>
    <p>{{t 'passwordReset.body'}}</p>
    <a href={{url}}>{{t 'passwordReset.link'}}</a>
     <p>{{t 'common.bye'}}</p>
    <p>FlawIS team</p>
    </br>
    <p>{{t 'common.no-reply'}}</p>
  </body>
</html>