<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <link
      rel='stylesheet'
      href='https://flawis-backend.flaw.uniba.sk/public/UKsans/styles.css'
      target='_blank'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto&display=swap'
      rel='stylesheet'
      target='_blank'
    />

    <style>
      h1 {font-family: UKsans, Roboto, sans-serif;} p, a{font-family: Roboto,
      sans-serif;}
    </style>
  </head>
  <body>
    <h1>{{t 'passwordReset.subject'}}</h1>
    <p>{{t 'common.greetings'}}
      {{name}}
    </p>
    <p>{{t 'passwordReset.body'}}</p>
    <a href={{url}}>{{t 'passwordReset.link'}}</a>
  </body>
</html>