<html>
  <head></head>
  <body>
    <h1>{{t 'passwordReset.subject'}}</h1>
    <p>{{t 'common.greetings'}}
      {{name}}
    </p>
    <p>{{t 'passwordReset.body'}}</p>
    <a href={{url}}>{{t 'passwordReset.link'}}</a>
  </body>
</html>